<div class="container">
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Prueba tecnica</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>
  <div>
    <div class="mt-5">
      <form [formGroup]="myForm" (ngSubmit)="submit()" #form="ngForm">
        <div>
          <div class="center">
            <img
              [src]="imageSrc"
              *ngIf="imageSrc"
              style="height: 150px; width: 150px"
            />
            <br />
          </div>
          <input
            formControlName="file"
            id="file"
            type="file"
            (change)="onFileChange($event)"
            class="form-control mt-5"
          />
          <div *ngIf="data.length > 0">
            <mat-form-field appearance="fill">
              <mat-label *ngIf="formfields.value?.length === 0">
                Seleccionar campos
              </mat-label>
              <mat-select [formControl]="formfields" multiple>
                <mat-select-trigger>
                  {{formfields.value?.[0] || ''}}
                  <span
                    *ngIf="(formfields.value?.length || 0) > 1"
                    class="example-additional-selection"
                  >
                    (+{{ (formfields.value?.length || 0) - 1 }}
                    {{ formfields.value?.length === 2 ? "campo" : "campos" }})
                  </span>
                </mat-select-trigger>
                <mat-option *ngFor="let field of data" [value]="field">{{
                  field
                }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div
            *ngIf="f['file'].touched && f['file'].invalid"
            class="alert alert-danger mt-1"
          >
            <div *ngIf="f['file'].errors && f['file'].errors['required']">
              Archivo requerido
            </div>
          </div>
        </div>
        <div class="center">
          <button class="btn btn-primary mt-5" type="submit">Enviar</button>
        </div>
      </form>
    </div>
  </div>
</div>
